body {
            
            
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        div{
            width: 600px;
			height:250px;
            background-color: black;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
			
        }
        h2 {
            color: white;
        }
        
        a.button {
            display: inline-block;
			margin-top:20px;
            padding: 10px 20px;
            background-color: white;
            color: black;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s;
        }
        
        